@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heading-largest,
  .heading-larger,
  .heading-large,
  .heading-small,
  .heading-smaller,
  .heading-smallest {
    font-weight: 700;
    text-transform: uppercase;
  }
  .heading-largest,
  .heading-small {
    letter-spacing: 2px;
  }
  .heading-largest {
    font-size: 36px;
    line-height: 40px;
    @media screen and (min-width: '768px') {
      font-size: 56px;
      line-height: 58px;
    }
  }
  .heading-larger {
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 1.5px;
  }
  .heading-large {
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 1.15px;
  }
  .heading-small {
    font-size: 28px;
    line-height: 38px;
  }
  .heading-smaller {
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 1.7px;
  }
  .heading-smallest {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1.3px;
  }
  p {
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
  }
  .heading-overline,
  .sub-title {
    text-transform: uppercase;
  }
  .heading-overline {
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 10px;
  }
  .sub-title {
    font-weight: 700;
    font-size: 13px;
    line-height: 25px;
    letter-spacing: 1px;
  }
}
